In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import pyplot
import collections

In [2]:
data1 = pd.read_csv('bank-additional-full.csv', delimiter = ';')

In [3]:
data1.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [4]:
data1['y'].value_counts()

no     36548
yes     4640
Name: y, dtype: int64

In [5]:
data1.isnull().any()

age               False
job               False
marital           False
education         False
default           False
housing           False
loan              False
contact           False
month             False
day_of_week       False
duration          False
campaign          False
pdays             False
previous          False
poutcome          False
emp.var.rate      False
cons.price.idx    False
cons.conf.idx     False
euribor3m         False
nr.employed       False
y                 False
dtype: bool

In [6]:
list1 = data1.columns

In [7]:
data2 =  pd.get_dummies(data1)
data2.columns

Index([u'age', u'duration', u'campaign', u'pdays', u'previous',
       u'emp.var.rate', u'cons.price.idx', u'cons.conf.idx', u'euribor3m',
       u'nr.employed', u'job_admin.', u'job_blue-collar', u'job_entrepreneur',
       u'job_housemaid', u'job_management', u'job_retired',
       u'job_self-employed', u'job_services', u'job_student',
       u'job_technician', u'job_unemployed', u'job_unknown',
       u'marital_divorced', u'marital_married', u'marital_single',
       u'marital_unknown', u'education_basic.4y', u'education_basic.6y',
       u'education_basic.9y', u'education_high.school',
       u'education_illiterate', u'education_professional.course',
       u'education_university.degree', u'education_unknown', u'default_no',
       u'default_unknown', u'default_yes', u'housing_no', u'housing_unknown',
       u'housing_yes', u'loan_no', u'loan_unknown', u'loan_yes',
       u'contact_cellular', u'contact_telephone', u'month_apr', u'month_aug',
       u'month_dec', u'month_jul', u'month_jun', u'month_mar', u'month_may',
       u'month_nov', u'month_oct', u'month_sep', u'day_of_week_fri',
       u'day_of_week_mon', u'day_of_week_thu', u'day_of_week_tue',
       u'day_of_week_wed', u'poutcome_failure', u'poutcome_nonexistent',
       u'poutcome_success', u'y_no', u'y_yes'],
      dtype='object')

In [8]:
data2 = data2.drop(columns=['y_no'])

In [9]:
x = data2.drop(columns=['y_yes'])

In [10]:
y = data2['y_yes']

In [11]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [12]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.33, random_state = 324)
clf = DecisionTreeClassifier(max_leaf_nodes = 10, random_state = 0)
clf.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=10,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [13]:
predictions = clf.predict(X_test)

In [14]:
accuracy_score(y_true = y_test, y_pred = predictions)

0.9084823070698154